<% include partials/preheader %>
<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
<% include partials/postheader%>

	<div id="fixedImg" class="section">
		<!-- This section contains fixed image bg -->
	</div>

	<div class="section">
		<h1>Bloomtown Flowershop</h1>
		<p>The freshest selection in town</p>
	</div>

	<div class="section">
		<h2>Order Ahead</h2>
		<p>Give us a call and we'll have it ready when you need it</p>
	</div>

	<div class="section">
		<h2>Or drop on by</h2>
		<p>Have a gander at our wide selection of exotic flowers from around the world</p>
	</div>

<% include partials/prefooter %>
<script type="text/javascript" src="/scripts/home.js"></script>
<% include partials/postfooter %>