.container {
	width: 95%;
	margin: 75px auto;
}

.jumbotron {
	color: #2f2f2f;
	background-color: #FFDBF2;
	overflow: auto;
}

.btn-warning {
	color: white;
	float: right;
	transition: .2s;
}

.btn-warning:hover {
	color: #ffc107;
	background-color: white;
	border: 1px solid #ffc107;
	transform: translateY(-5px);
	box-shadow: 0 5px 10px gray;
}

.card {
	width: 100%;
	margin: 0 auto 20px auto;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 0 5px 15px rgba(0, 0, 0, 0.2);
}