#flowerBG {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 56px;
	left: 0;
	z-index: -1;
}

.modal-header {
	background-color: rgba(255, 11,255, .35);
	color: white;
}

body {
	padding-top: 70px;
}

.modal-comp {
	text-align: center;
	padding: 20px;
}

.modal-comp-header {
	padding-top: 0;	
}

.container {
	width: 90%;
}

.col-md-4, .col-sm-6 {
	margin: 15px 0;
}

.card-body {
	padding-bottom: 5px;
	box-shadow: 0 7px 15px rgba(0, 0, 0, .2), 0 3px 8px rgba(0, 0, 0, .2);
}

.card-text {
	margin-bottom: 5px;
	max-height: 500px;
	overflow: hidden;
	-webkit-transition: max-height 0.75s;
	transition: max-height 0.75s; 
}

.dropdown-div {
	text-align: right;
}

.dropdown-toggle {
	color: #FF87EF;
	border: none;
	padding: 1px 7px 0 7px;
}

.dropdown-toggle:hover {
	color: #FF87EF;
	background-color: white;
}

.dropdown-toggle:focus {
	box-shadow: 0 0 10px #FF87EF;
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
	background-color: #FF87EF;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5) !important; 
}

.add-to-cart {
	margin-top: 10px;
	margin-bottom: 5px;
	background: white;
	color: darkorange;
	border: 1px solid darkorange;
	border-radius: 22px;
	width: 100%;
	padding: 10px;
	transition: .2s;
}

.add-to-cart:hover {
	cursor: pointer;
	background-color: darkorange;
	box-shadow: 0 5px 10px gray;
	transform: translateY(-5px);
	color: white;
}

.add-to-cart:focus {
	outline: none;
}

img {
	height: 200px;
	background-position: 50% 50%;
	background-size: cover;
}

@media only screen and (min-width: 576px) {
	#flowerBG {
		width: 90%;
		left: 5vw;
	}

	.container {
		width: 80%;
	}

	.card-text {
		max-height: 100px;
	}

	.show-flower-desc {
		max-height: 500px;
	}

	.show-more {
		display: block;
	}
}

@media only screen and (min-width: 768px) {
	#flowerBG {
		width: 80%;
		left: 10vw;
	}

	.container {
		width: 70%;
	}

	.card-text {
		max-height: 100px;
	}

	.show-flower-desc {
		max-height: 500px;
	}
}