.container {
	width: 90%;
	margin: 75px auto;
}

.card {
	width: 100%;
	border: none;
}

#addComment {
	text-align: right;
	margin: 10px 5px 10px 0;
}

#addComment a {
	color: white;
	float: right;
	transition: .2s;
}

#addComment a:hover {
	color: #ffc107;
	background-color: white;
	border: 1px solid #ffc107;
	transform: translateY(-5px);
	box-shadow: 0 5px 10px gray;
}

.comment {
	box-sizing: border-box;
	padding: 20px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
	margin-bottom: 20px;
}

.comment p {
	margin: 0;
}

.dropdown {
	float: right;
}

.dropdown-toggle {
	background-color: white;
}

.dropdown-toggle:focus {
	box-shadow: 0 0 10px #FFA3DD;	
}