.container {
	margin-top: 90px;
	width: 90%;
}

button[type="submit"] {
	color: white;
	transition: .2s;
}

button[type="submit"]:hover {
	color: #ffc107;
	background-color: white;
	border: 1px solid #ffc107;
	transform: translateY(-5px);
	box-shadow: 0 5px 10px gray;
}

h1 {
	margin-bottom: 30px;
}

button {
	float: right;
}

textarea {
	min-height: 200px;
}

.form-control:focus {
	box-shadow: 0 0 10px #FFA3DD;
	border: none;
}

@media only screen and (min-width: 576px) {
	.container {
		width: 70%;
	}
}

@media only screen and (min-width: 768px) {
	.container {
		width: 50%;
	}
}

@media only screen and (min-width: 1100px) {
	.container {
		width: 40%;
	}
}